.half-half-containter {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 56px);
}

.half-container {
  flex: 1; /* Allow the child divs to take equal space */
  overflow: auto; /* Allow scrolling if needed */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.marker-icon {
  width: 38px;
  height: 38px;
  margin-right: 10px;
}
.map-container {
  height: 60vh; /* This ensures the map takes up 60% of the viewport height */
  width: 100%;
  position: relative;
  z-index: 1;
}

.map-shrink {
  height: 40vh; /* Smaller height when posts are shown */
}

/* For the profile page */
.map-section {
  height: 50vh;
  width: 100%;
  position: relative;
}