.half-half-containter {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 56px);
}

.half-container {
  flex: 1; /* Allow the child divs to take equal space */
  overflow: auto; /* Allow scrolling if needed */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.marker-icon {
  width: 38px;
  height: 38px;
  margin-right: 10px;
}
